.flex_container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
      font-size: 14px;
      background-color: rgba(39, 13, 99, 0.685);
      border-radius: 10px;
      padding: 10px;
      width: 300px;
   }

   .flex_container_form input{
      width: 200px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      background-color: white;
   }

   .flex_container_form textarea{
      width: 200px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      background-color: white;
      margin-bottom: 10px;
   }




 @media (min-width:768px){
   .flex_container_form{
      margin: 30px auto;
      font-size: 16px;
      padding: 20px;
      width: 300px;
   }

   .flex_container_form input{
      width: 200px;
      padding: 5px;
   }

   .flex_container_form textarea{
      width: 200px;
      padding: 5px;
      margin-bottom: 20px;
   }

 }


 @media (min-width:1024px){
    .flex_container_form{
        margin: 50px auto;
        font-size: 18px;
        padding: 30px;
        width: 600px;
     }

     .flex_container_form input{
        width: 400px;
        padding: 5px;
     }

     .flex_container_form textarea{
        width: 400px;
        padding: 5px;
        margin-bottom: 20px;
     }

 }