.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 400px;
    text-align: center;
    gap: 20px;
}

.flex_container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}



@media (min-width:1024px){
    .flex_container{
        min-height: 900px;
    }
}
