.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 400px;
}

.flex_container_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


@media (min-width:1024px){
    .flex_container{
        min-height: 900px;
    }
}