
    .flex_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border: 1px solid red;
        padding: 10px;
    }

    .flex_container_ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

@media (min-width:768px){
    .flex_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border: none;
        padding: 10px;
    }

    .flex_container h2{
        font-size: 16px;
    }

    .flex_container_ul{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
}
