@media (max-width: 767px){
    .flex_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border: 1px solid red;
        padding: 10px;
    }

    .flex_container_ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}