.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.flex_container h2{
    justify-content: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}


@media (min-width:1024px){
    .flex_container{
        min-height: 900px;
    }
}